<%- include('./shared/header') %>

<section class="pt-5 mt-5 container">
  <h1>File download</h1>

  <form method="POST">
    <div class="mb-3">
      <label class="mb-1 required">Password</label>
      <input type="password" class="form-control" id="password" placeholder="File Password"
        value="<%= oldInputs?.password  %>" name="password" required />
    </div>

    <div class="mb-3 form-check">
      <input class="form-check-input shadow-none" type="checkbox" id="show-password">
      <label class="form-check-label show-password" for="show-password">
        Show password
      </label>
    </div>

    <button type="submit" class="btn btn-primary w-100 text-capitalize">Submit</button>

    <div class="mt-3">
      <a href="/" class="btn btn-dark w-100 text-capitalize">home page</a>
    </div>
  </form>

  <% if (passwordIncorrect) { %>
  <p class="alert alert-danger mt-3 text-capitalize" role="alert">
    incorrect password
  </p>
  <% } %>
</section>

<style>
  .circles li {
    animation: animate 25s linear infinite reverse;
  }
</style>

<%- include('./shared/animation')  %>
<%- include('./shared/footer') %>